/* 
CSS VARIABLES AKA CUSTOM PROPERTIES

allow to store value in one place and re-use it later 
How to declare css variable
--varName:value

How to access css variable value
property:var(--varName);

scope
:root{} === global variable
element === local variable
any property
*/

/* Here the root is our html document */
:root {
  --primaryColor: #2539f1;
  --cl-secondary: green;
  --mainTransition: all 1s linear;
  --mainSpacing: 5px;
}
h1 {
  color: var(--primaryColor);
}
h2 {
  color: var(--primaryColor);
}
h3 {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}
p {
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}

h3:hover {
  color: var(--cl-secondary);
}

/* how to define local variable */
div {
  --primaryRed: red;
}
.main-text {
  color: var(--primaryRed);
}
h3 {
  color: var(--primaryRed);
}
